body {
  background-color: rgb(44, 83, 70);
}

.card {
  display: flex;
  margin-right: 10%;
  margin-left: 20%;
  margin-top: 80px;
  flex-wrap: wrap;
  gap: 20px;
}

article {
  background-color: rgb(77, 124, 77);
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
  border-radius: 10px;
}

.titulo {
  text-align: center;
  color: rgb(158, 221, 34);
}
